
<h1>メモ一覧</h1>

<div class="row">
<!--
	<% @memos.each do |memo| %>
	<div class="col-12 col-lg-6" id="memo">
		<h4 id="memo_title"><%= link_to memo.title, '#' %></h4>
		<%= memo.posted_at %> by okumyo<br />
		<%= memo.body %>
	</div>
	<% end %>
-->
<!--
	<div class="col-12 col-lg-6" style="border: 1px solid #000000;">
		<article class="memo">
			<%= image_tag 'HTML5_Logo_32.png', style: 'float:left;' %>
			<h2>カテゴリーとコンテンツモデル</h2>
			<p id="posted_at">2017年10月19日(木) by okumyo</p>
			<span style="font-size: 0.9em">HTML5からHTML要素を細かく分類できるように、カテゴリーとコンテンツモデルという概念が生み出されました。
			もともとHTMLにはブロック要素やインライン要素などの要素を分類する概念がありましたが、HTML5ではこの分類を廃止し、
			新たにメタデータ、フロー、セクショニング、ヘッディング、フレージング、エンベデッド、インタラクティブという七種類のコンテンツを定義しました。
			</span>
		</article>
	</div>
	<div class="col-12 col-lg-6" style="border: 1px solid #000000;">
		<article class="memo">
			<%= image_tag 'Ruby_on_Rails_logo.jpg', style: 'float:left;height:32px;' %>
			<h2>i18n API</h2>
			<p id="posted_at">2017年10月19日(木) by okumyo</p>
		</article>
	</div>
	<div class="col-12 col-lg-6" style="border: 1px solid #000000;">
		<article class="memo">
			<%= image_tag 'Ruby_on_Rails_logo.jpg', style: 'float:left;height:32px;' %>
			<h2>画像のアップロード方法</h2>
			<p id="posted_at">2017年10月19日(木) by okumyo</p>
		</article>
	</div>
-->


<div id="css-slider">
	<div class="slider-wrapper">
		<div class="slide-item">あ</div>
		<div class="slide-item">い</div>
		<div class="slide-item">う</div>
	</div>
</div>

</div>
